{% extends "layout.html" %}
{% block body %}

<main role="main">
    
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Features</h1>
            <p>What features do we have. Click the name to learn more</p>
        </div>
    </div>
    
    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-12">
                <h2><a href="{{ url_for('total_distance') }}" class="text-dark">Total Distance Travelled</a></h2>
                <p>
                    It was the first Nelvana-produced series to air on PBS before the Bookworm Bunch and Cyberchase. In 2017, on the 20th anniversary of the series' cancellation, a sequel series titled The Magic School Bus Rides Again premiered on Netflix.
                </p>
            </div>
        </div>
        <br>

        <div class="row">
            <div class="col-md-12">
                <h2><a href="{{ url_for('speeding') }}" class="text-dark">Speed Violation Occurence</a></h2>
                <p>
                    Miss Frizzle embarks on adventures with her class on the eponymous school bus. As they journey on their exciting field trips, they discover locations, creatures, time periods and more to learn about the wonders of science along the way.
                </p>
            </div>
        </div>
        <br>

        <div class="row">
            <div class="col-md-12">
                <h2><a href="{{ url_for('geofencing') }}" class="text-dark">Geofencing</a></h2>
                <p>
                    In 1994, The Magic School Bus concept was made into an animated series of the same name by Scholastic Entertainment and it premiered on September 10, 1994. The idea for the TV series was developed by former Scholastic Entertainment Vice President and Senior Editorial Director Craig Walker.
                </p>
            </div>
        </div>
        <br>

        <div class="row">
            <div class="col-md-12">
                <h2><a href="{{ url_for('liveness') }}" class="text-dark">Liveness Check</a></h2>
                <p>
                    Scholastic Entertainment president Deborah Forte explained that adapting the books into an animated series was an opportunity to help kids "learn about science in a fun way".During this time, Forte had been hearing concerns from parents and teachers about how to improve science education for kids and minorities across the globe
                </p>
            </div>
        </div>
        <br>

        <div class="row">
            <div class="col-md-12">
                <h2><a href="{{ url_for('route_finding') }}" class="text-dark">Route Finding</a></h2>
                <p>
                    When The Magic School Bus was syndicated on commercial networks, the Producer Says segment at the end of each episode was cut out to make space for commercials. The Producer Says segments were only seen when the series was shown on non-commercial networks, international networks, VHS, and DVD releases
                </p>
            </div>
        </div>
        <br>

        <div class="row">
            <div class="col-md-12">
                <h2><a href="{{ url_for('loop_counting') }}" class="text-dark">Loop Counting</a></h2>
                <p>
                    Within the episodes, there were also time points where the episode fades out and then fades back in after a series of commercials are shown. On non-commercial networks, VHS, and DVD releases the scene immediately fades back in right after it fades out as no commercials are shown.
                </p>
            </div>
        </div>

        <hr>
    </div> 

</main>

{% endblock body %}