{% extends "layout.html" %}
{% block body %}
<style>
.number-icon
{
    background-image: url("/static/img/marker.png");
    text-align:center;
    color:White;    
}
</style>

<main role="main">
    
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">{{ info[0] }}</h1>
            <p>{{ info[1] }}</p>
        </div>
    </div>
    
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <form method=POST enctype=multipart/form-data action="">
                    <!-- Form to get GPX file -->
                    {{ form.hidden_tag() }}
                    <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Input GPX File</legend>
                    <div class="form-group">
                        {% if form.gpx_file.errors %}
                            {{ form.gpx_file(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.gpx_file.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.gpx_file(class="form-check-label") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.submit(class="btn btn-outline-info") }}
                    </div>

                    {% if filename or results %}
                    <!-- Form to get Min and Max Time -->
                    <div class="form-group">
                        {{ form.min_time.label(class="form-control-label") }}
                        {% if form.min_time.errors %}
                            {{ form.min_time(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.min_time.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.min_time(class="form-check-label") }}
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.max_time.label(class="form-control-label") }}
                        {% if form.max_time.errors %}
                            {{ form.max_time(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.max_time.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.max_time(class="form-check-label") }}
                        {% endif %}
                    </div>

                    <!-- Form to get Lat Lon pairs -->
                    <div class="form-group">
                        {{ form.lat1.label(class="form-control-label") }}
                        <input id="latitude1" name="lat1" type="text" />
                    </div>
                    <div class="form-group">
                        {{ form.lon1.label(class="form-control-label") }}
                        <input id="longitude1" name="lon1" type="text" />
                    </div>
                    <div class="form-group">
                        {{ form.lat2.label(class="form-control-label") }}
                        <input id="latitude2" name="lat2" type="text" />
                    </div>
                    <div class="form-group">
                        {{ form.lon2.label(class="form-control-label") }}
                        <input id="longitude2" name="lon2" type="text" />
                    </div>
                    <div class="form-group">
                        {{ form.compute(class="btn btn-outline-info") }}
                    </div>
                    {% endif %}
                    </fieldset>
            </div>
            {% if filename or results %}
            <div class="col-md-8">
                <legend class="border-bottom mb-4">Choose Points</legend>
                <div class="row">
                    <div id="mapid" style='width: 100%; height: 500px;'></div>                  
                        <script>
                            var geojson_data = JSON.parse('{{ locations | tojson | safe }}');
                            var start_point = geojson_data[0].geometry.coordinates.reverse();
                            var tileLayer = new L.TileLayer('http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png',{ attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, &copy; <a href="http://cartodb.com/attributions">CartoDB</a>' });
                            // var tileLayer = new L.TileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', { attribution: 'Map data © <a href="http://openstreetmap.org">OpenStreetMap</a> contributors' })

                            // Create a map
                            var map = new L.Map('mapid', {
                                center: start_point,
                                zoom: 13,
                                layers: [tileLayer]
                            });

                            // Display points
                            geojsonLayer = L.geoJson(geojson_data, {
                                style: function(feature) {
                                    return {
                                        color: "blue"
                                    };
                                },
                                pointToLayer: function(feature, latlng) {
                                    return new L.CircleMarker(latlng, {
                                        radius: 1,
                                        fillOpacity: 0.85
                                    });
                                }
                            });
                            map.addLayer(geojsonLayer);

                            // Create numbered marker
                            var markerOne = L.divIcon({
                                className: "number-icon",
                                iconSize: [25, 41],
                                iconAnchor: [10, 44],
                                popupAnchor: [3, -40],
                                html: "1"
                            });
                            var markerTwo = L.divIcon({
                                className: "number-icon",
                                iconSize: [25, 41],
                                iconAnchor: [10, 44],
                                popupAnchor: [3, -40],
                                html: "2"
                            });

                            // Get top left corner
                            var marker1 = L.marker(start_point,{
                                draggable: true,
                                icon: markerOne
                            }).addTo(map);

                            marker1.on('dragend', function (e) {
                                document.getElementById('latitude1').value = marker1.getLatLng().lat;
                                document.getElementById('longitude1').value = marker1.getLatLng().lng;
                            });

                            // Get bottom right corner
                            var marker2 = L.marker(start_point,{
                                draggable: true,
                                icon: markerTwo
                            }).addTo(map);

                            marker2.on('dragend', function (e) {
                                document.getElementById('latitude2').value = marker2.getLatLng().lat;
                                document.getElementById('longitude2').value = marker2.getLatLng().lng;
                            });
                        </script>
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="container">
                <legend class="border-bottom mb-4">Violations Detected in {{filename}}</legend>
                <p>Number of violations: {{ number_violations }}</p>
                {% if results %}
                {% for result in results %}
                <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">Parameter</th>
                        <th scope="col">Result</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>Violation Type</td>
                        <td>{{ result.get("violation") }}</td>
                      </tr>
                      <tr>
                        <td>Total Time Spent</td>
                        <td>{{ result.get('time') }}</td>
                      </tr>
                      <tr>
                        <td>Start of Violation</td>
                        <td>{{ result.get('start') }}</td>
                      </tr>
                      <tr>
                        <td>End of Violation</td>
                        <td>{{ result.get('end') }}</td>
                      </tr>
                    </tbody>
                </table>
                {% endfor %}
            {% endif %}
            </div>
        </div>
    </div> 
</main>

{% endblock body %}
