{% extends "layout.html" %}
{% block body %}

<main role="main">
    
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Team 2 Project</h1>
            <p>Presents 5 features we've implemented for CS 198.</p>
        </div>
    </div>
    
    <div class="container">
        <div class='row'>
            <div class="col-md-6">
                <h3>Our Project</h3>
                <p>The Magic School Bus is an American-Canadian animated children's television series, based on the book series of the same name by Joanna Cole and Bruce Degen. Running originally from 1994 to 1997, the series received critical acclaim for its use of celebrity voice talent such as Malcolm-Jamal Warner and combining entertainment with an educational series. Broadcasting & Cable writer explained the show was "among the highest-rated PBS shows for school-age children."
                </p>
            </div>
            <div class="col-md-6">
                <img src='/static/img/bus.jpg'>
            </div>
        </div>
    </div> 
</main>

{% endblock body %}