{% extends "layout.html" %}
{% block body %}

<main role="main">
    
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">{{ info[0] }}</h1>
            <p>{{ info[1] }}</p>
        </div>
    </div>

    <div class="container">
        <form method=POST enctype=multipart/form-data action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
            <legend class="border-bottom mb-4">Input GPX File</legend>
            <div class="form-group">
                {{ form.gpx_file.label(class="form-control-label") }}
                {% if form.gpx_file.errors %}
                    {{ form.gpx_file(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.gpx_file.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.gpx_file(class="form-check-label") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.time_limit.label(class="form-control-label") }}
                {% if form.time_limit.errors %}
                    {{ form.time_limit(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.time_limit.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.time_limit(class="form-check-label") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </fieldset>
        </div>
        {% if total_liveness >= 0 %}
            <div class="container">
                <legend class="border-bottom mb-4">Liveness in {{filename}}</legend>
                <p>Total Liveness: {{total_liveness}}s</p>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Segment</th>
                            <th scope="col">Liveness</th>
                            <th scope="col">Start</th>
                            <th scope="col">End</th>
                        </tr>
                    </thead>
                    {% for result in results %}
                    <tbody>
                        <tr>
                            {% set index = results.index(result) + 1%}
                            <td>{{index}}</td>
                            <td>{{result.get('liveness')}}s</td>
                            <td>{{result.get('start')}}</td>
                            <td>{{result.get('end')}}</td>
                        </tr>
                    </tbody>
                    {% endfor %}
                </table>
            </div>
        {% endif %}
</main>

{% endblock body %}
