{% extends "layout.html" %}
{% block body %}

<main role="main">
    
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">{{ info[0] }}</h1>
            <p>{{ info[1] }}</p>
        </div>
    </div>
    
    <div class="container">
        <form method=POST enctype=multipart/form-data action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
            <legend class="border-bottom mb-4">Input GPX File</legend>
            <div class="form-group">
                {% if form.gpx_file.errors %}
                    {{ form.gpx_file(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.gpx_file.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.gpx_file(class="form-check-label") }}
                {% endif %}
            </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </fieldset>
    </div>
    {% if distance %}
    <div class="container">
        <legend class="border-bottom mb-4">Total Distance Travelled in {{filename}}</legend>
        <p>{{distance}} km</p>
    </div>
    {% endif %}
</main>

{% endblock body %}
